body{
    text-align: center; 
     background-image: url("https://cdn.wallpapersafari.com/27/50/qR5Yhj.png");
}

h1{
    color: whitesmoke;
}

h3{
    color:whitesmoke;
}

label{
    color:whitesmoke;
}